@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
:root {
  --sky: hsl(201 80% 52%);
  --purple: hsl(281 45% 51%);
  --green: hsl(170 100% 32%);
  --gold: hsl(48 100% 35%);
  --orange: hsl(32 97.7% 62.4%);
  --yellow: hsl(50 97.8% 63.5%);

  --background: hsl(201.3 100% 98%);
  --foreground: hsl(201.3 5% 10%);
  --card: hsl(201.3 50% 98%);
  --card-foreground: hsl(201.3 5% 15%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(222.2 84% 4.9%);
  --primary: hsl(201.3 96.3% 32.2%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(201.3 30% 90%);
  --secondary-foreground: hsl(0 0% 0%);
  --muted: hsl(210 40% 96.1%);
  --muted-foreground: hsl(215.4 16.3% 46.9%);
  --accent: hsl(210 40% 96.1%);
  --accent-foreground: hsl(222.2 47.4% 11.2%);
  --destructive: hsl(0 100% 50%);
  --destructive-foreground: hsl(201.3 5% 98%);
  --border: hsl(201.3 30% 82%);
  --input: hsl(201.3 30% 50%);
  --ring: hsl(201.3 96.3% 32.2%);
  --radius: 0.5rem;

  --vis-tooltip-background-color: none !important;
  --vis-tooltip-border-color: none !important;
  --vis-tooltip-text-color: none !important;
  --vis-tooltip-shadow-color: none !important;
  --vis-tooltip-backdrop-filter: none !important;
  --vis-tooltip-padding: none !important;

  --vis-primary-color: var(--primary);
  --vis-secondary-color: var(--green);
  --vis-text-color: var(--muted-foreground);
}

.dark {
  --background: hsl(201.3 50% 10%);
  --foreground: hsl(201.3 5% 98%);
  --card: hsl(201.3 50% 10%);
  --card-foreground: hsl(201.3 5% 98%);
  --popover: hsl(201.3 50% 5%);
  --popover-foreground: hsl(201.3 5% 98%);
  --primary: hsl(201.3 96.3% 32.2%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(201.3 30% 20%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(163.3 30% 25%);
  --muted-foreground: hsl(201.3 5% 65%);
  --accent: hsl(163.3 30% 25%);
  --accent-foreground: hsl(201.3 5% 95%);
  --destructive: hsl(0 100% 50%);
  --destructive-foreground: hsl(201.3 5% 98%);
  --border: hsl(201.3 30% 50%);
  --input: hsl(201.3 30% 50%);
  --ring: hsl(201.3 96.3% 32.2%);
  --radius: 0.5rem;
}

@theme inline {
  --color-sky: var(--sky);
  --color-purple: var(--purple);
  --color-green: var(--green);
  --color-gold: var(--gold);
  --color-orange: var(--orange);
  --color-yellow: var(--yellow);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

@layer base {
  button:not(:disabled),
    [role="button"]:not(:disabled) {
      cursor: pointer;
    }
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  @media print {
    body {
      background-color: white !important;
    }
  }
}